// Fuentes
$fuentePrincipal: "Open Sans", sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

$primario:#0e0f0f; 
$secundario: #2ee0e0;
$oscuro: #000;
$blanco: #FFF;
$gris: #4d5252;

$separacion: 5rem;
$separacionHorizontal: 8rem;
